beautifulsoup4
jupyter
lxml
matplotlib
numpy
open3d
opencv-python
openpyxl
pandas
PyQt5
python-dateutil
requests
scikit-learn
scipy
seaborn
selenium
webdriver-manager
weasyprint
jinja2
pymongo
torch
opencv-contrib-python
